img {
    border-radius: 50%;
    width: 60px;
    height: 60px;

    margin: 5px;
}

.produce {
    border: 1px solid;
    border-radius: 3px;
    width: 1260px;
    height: auto;
    margin: 10px 0 10px 0;
}

.name {
    margin-left: 7px;
    display: flex;
}

.name>span {
    font-size: x-large;
    font-weight: bold;
    margin-top: 6px;
    margin-left: 7px;
}

.name>ul {
    font-size: small;
    margin-left: -16.5%;
    margin-top: 40px;
}

.produce>.pet {
    font-size: medium;
    margin-top: 2%;
    margin-left: 15px;
}

.produce>.review {
    font-size: medium;
    margin-left: 15px;
}

.produce>.reserving {
    font-size: medium;
    margin-left: 650px;
    margin-top: -3.8%;
}

.produce>.payment-amount {
    font-size: medium;
    margin-left: 650px;
}

.produce>.btn>.pro-setting {
    border: 1px;
    border-radius: 5px;
    width: 600px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: lightgray;
    margin-top: 15px;
    margin-left: 15px;
}

.produce>.btn>.pay-amount {
    border: 1px;
    border-radius: 5px;
    width: 600px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: gray;
    margin-left: 640px;
    margin-top: -30px;
}

/* reserve section */
.reserve {
    border: 1px solid;
    border-radius: 3px;
    width: 1260px;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}

.reserve>.reserv>span {
    font-size: x-large;
    padding-left: 10px;
}

.reserve>.reserv>ul>li {
    font-size: small;
    padding-left: 15px;
}

.res1 {
    border: 1px solid;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    margin-left: -19%;
    margin-top: 7%;
}

.res1>ul {
    border: 1px;
    text-align: center;
    display: flex;
}

.res1>ul>li:nth-child(1) {
    background-color: #cccccc;
    margin-top: 5px;
    margin-left: 10px;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    text-align: center;
}

.res1>ul>li:nth-child(2) {
    background-color: #B9FDA4;
    margin-top: 5px;
    margin-left: 10px;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    text-align: center;
}

.res1>.schedule1 {
    padding-left: 10px;
    padding-top: 10px;
}

.res1>.schedule1>span {
    font-size: small;
}

.res1>.na1 {
    font-size: small;
    padding: 15px;
}

.res1>.price1 {
    margin-left: 85%;
    margin-top: -14%;
    font-size: medium;
    font-weight: bold;
}

.reserve>.res1>.chart1 {
    border: 1px solid;
    border-radius: 3px;
    width: 280px;
    height: 30px;
    display: block;
    text-align: center;
    margin-top: 10%;
    margin-left: 13px;
    font-size: medium;
}

.reserve>.res1>.view1 {
    border-radius: 3px;
    border: 1px solid;
    width: 280px;
    height: 30px;
    text-align: center;
    margin-left: 51%;
    margin-top: -5%;
    font-size: medium;
}

.res2 {
    border: 1px solid;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    margin-top: -12%;
    margin-left: 51%;
}

.res2>ul {
    border: 1px;
    display: flex;
    text-align: center;
}

.res2>ul>li:nth-child(1) {
    background-color: #cccccc;
    margin-top: 5px;
    margin-left: 10px;
    width: 60px;
    height: 20px;
    border-radius: 30px;
}

.res2>ul>li:nth-child(2) {
    background-color: #B9FDA4;
    margin-top: 5px;
    margin-left: 10px;
    width: 60px;
    height: 20px;
    border-radius: 30px;
    
}

.res2>.schedule2 {
    padding-left: 10px;
    padding-top: 10px;
}

.res2>.schedule2>span {
    font-size: small;
}

.res2>.na2 {
    font-size: small;
    padding: 15px;
}

.res2>.price2 {
    margin-left: 85%;
    margin-top: -14%;
    font-size: medium;
    font-weight: bold;
}

.reserve>.res2>.chart2 {
    border: 1px solid;
    border-radius: 3px;
    width: 280px;
    height: 30px;
    display: block;
    text-align: center;
    margin-top: 10%;
    margin-left: 13px;
    font-size: medium;
}

.reserve>.res2>.view2 {
    border-radius: 3px;
    border: 1px solid;
    width: 280px;
    height: 30px;
    text-align: center;
    margin-left: 51%;
    margin-top: -5%;
    font-size: medium;
}

.allres {
    border: 1px solid;
    border-radius: 5px;
    width: 1220px;
    height: 30px;
    text-align: center;
    margin: 10px 20px;
    font-size: medium;
}

/* pet profil */
.all-pro {
    display: flex;
}

.profil {
    border: 1px solid;
    border-radius: 3px;
    width: 680px;
    height: 260px;
}

.care {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    width: 70px;
    height: 30px;
    margin-left: 85%;
    margin-top: -30px;
    border-radius: 5px;
}
.care>a{
    font-size: medium;
}
.profil>.pet-prof>span {
    font-size: x-large;
    padding-left: 10px;
}

.profil>.pet-prof>ul>li {
    font-size: small;
    padding-left: 15px;
}

.profil>.pet-prof>.pro1 {
    border: 1px solid;
    border-radius: 5px;
    width: 590px;
    height: 72px;
    margin-top: 20px;
    margin-left: 11px;
}

.profil>.pet-prof>.pro1>ul>li {
    padding-left: 15%;
    font-size: small;
}

.profil>.pet-prof>.pro1>ul>li:nth-child(1) {
    margin-top: -55px;
    font-weight: bolder;
}

.profil>.pet-prof>.pro1>ul>li:nth-child(2){} 

.profil>.pet-prof>.pro2 {
    border: 1px solid;
    border-radius: 5px;
    width: 590px;
    height: 72px;
    margin-top: 15px;
    margin-left: 11px;
}

.profil>.pet-prof>.pro2>ul>li {
    padding-left: 15%;
    font-size: small;
}

.profil>.pet-prof>.pro2>ul>li:nth-child(1) {
    margin-top: -55px;
    font-weight: bolder;
}

.profil>.pet-prof>.pro2>ul>li:nth-child(2) {}

/* SITTER */
.sitter {
    border: 1px solid;
    border-radius: 3px;
    width: 680px;
    height: 260px;
    margin-left: 30px;
}

.sitter>.sit-used>span {
    font-size: x-large;
    padding-left: 10px;
}

.sitter>.sit-used>ul>li {
    font-size: small;
    padding-left: 15px;
}

.sitter>.sit-name1 {
    border: 1px solid;
    border-radius: 5px;
    width: 590px;
    height: 70px;
    margin-top: 10px;
    margin-left: 11px;

    display: flex;
    flex-wrap: wrap;
}

.sitter>.sit-name1>ul>li:nth-child(1) {
    font-weight: bold;
    font-size: small;
    padding: 5px;
}

.sitter>.sit-name1>ul>li:nth-child(2) {
    font-size: small;
    font-weight: bolder;
    margin-left: 30%;
    margin-top: -13.5%;
}

.sitter>.sit-name1>ul>li:nth-child(3) {
    font-size: small;
    padding-left: 25px;
    margin-top: -22px;
}

.sitter>.sit-name1>ul>li:nth-child(4) {
    font-size: small;
    margin-top: -13.5%;
    margin-left: 85px;
}

.sitter>.sit-name1>.chat1 {
    border: 1px solid;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;

    margin-top: -52px;
    margin-left: 84%;
}
.sitter>.sit-name1>.chat1>a{
    font-size: medium;
}

.sitter>.sit-name2 {
    border: 1px solid;
    border-radius: 5px;
    width: 590px;
    height: 70px;
    margin-top: 10px;
    margin-left: 11px;

    display: flex;
    flex-wrap: wrap;
}

.sitter>.sit-name2>ul>li:nth-child(1) {
    font-weight: bold;
    font-size: small;
    padding: 5px;
}

.sitter>.sit-name2>ul>li:nth-child(2) {
    font-size: small;
    font-weight: bolder;
    margin-left: 30%;
    margin-top: -13.5%;
}

.sitter>.sit-name2>ul>li:nth-child(3) {
    font-size: small;
    padding-left: 25px;
    margin-top: -22px;
}

.sitter>.sit-name2>ul>li:nth-child(4) {
    font-size: small;
    margin-top: -13.5%;
    margin-left: 85px;
}

.sitter>.sit-name2>.chat2 {
    border: 1px solid;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;

    margin-top: -52px;
    margin-left: 84%;
}
.sitter>.sit-name2>.chat2>a{
    font-size: medium;
}

.sitter>.res3 {
    border: 1px solid;
    border-radius: 5px;
    width: 590px;
    height: 25px;
    text-align: center;
    justify-content: center;
    font-size: small;

    margin: 13px 7px 15px 11px;
}