.content {
    font-size: 1.4rem;
}

header {
    width: 100%;
    height: 102px;
    border: 1px solid;
    margin: 0px auto;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.tabs {
    display: flex;

    margin-bottom: 20px;
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 5px;
    width: fit-content;
    margin: 0 auto 20px auto;
}

.tab {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #ffffff;
}

.tab.active {
    background-color: #ffffff;
    font-weight: bold;
}

.input-icon {
    position: relative;
    /* flex: 1; */

}

.input-icon input {
    padding-left: 30px;
}

.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
}

.reservation-header {
    width: 1000px;
    height: 790px;
    padding: 20px;
    border: 1px solid #757575;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group>p {
    font-size: 9px;
    margin: 0px 0px 0px 0px;
}

.date-time {
    display: flex;
    gap: 40px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 80px;
}

.map {
    margin-top: 10px;
    height: 400px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation-info {
    position: fixed;
    top: 240px;
    right: 330px;
    width: 280px;
    border: 1px solid #757575;
    border-radius: 10px;
    padding: 20px;
    z-index: 999;
}

.reservation-info p {
    display: flex;
    justify-content: space-between;
}

.reservation-info p:first-child {
    margin-bottom: 5px;
}

.location {
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

.payment-method {
    margin: 10px 0;
}

.reserve-btn {
    width: 100%;
    padding: 10px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sitter-section {
    width: 1000px;
    height: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    padding-right: 30px;
    border-radius: 10px;
    border: 1px solid #757575;
    overflow: hidden;
}

.sitter-card {
    width: 970px;
    height: 400px;
    overflow-y: scroll;
    padding: 20px;

}
.sitter-content {
    display: flex;
    border: 1px solid #ccc;
    height: 170px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}


.sitter-img {
    width: 100px;
    height: 100px;
    margin-top: 0px;
    border-radius: 50%;
    margin-right: 20px;
    background: #ccc;
}

.sitter-info {
    flex: 2;
}

.sitter-price {
    font-size: 22px;
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
    margin-right: 30px;
}

.details-btn {
    margin-right: 30px;
    padding: 20px 60px;
    border: 1px solid #757575;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.modal-note {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

/* 모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.sitter-main{
    display: flex;
}
.sitter-big-img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
    margin-right: 20px;
    background: #ccc;
}
.sitter-introduce {
    width: 1000px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
.sitter-review {
    overflow: hidden;
    position: relative;
    width: 880px; 
}
.sitter-review-img {
    flex: 0 0 200px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;

    background: white;
}
.id{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    gap: 10px;
    height: 260px;
}
.reserve-btn2 {
    width: 130px;
    height: 50px;
    padding: 10px;
    background-color: #757575;
    color: white;
    border: none;
    float: right;
    margin-top: 20px;
    border-radius: 5px;
}
.sitter-small-img{
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;
    border-radius: 50%;
    margin-right: 20px;
    background: #ccc;
}
/*  */
.slider__btn {
    height: 100%;
    position: relative;
}
.slider__btn span{
    height: 100%;
}
.slider__btn:hover {
    background-color: #333;
    color: #fff;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    margin-top: 10px;
    gap: 20px;
}

