.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.sub-text {
    margin: 10px 0 30px;
    color: gray;
    font-size: 16px;
    line-height: 1.5;
}

.card {
    border: 1px solid #eee;
    padding: 30px;
    width: 400px;
    margin: 0 auto;
}

.card h2 {
    font-size: 22px;
    margin-bottom: 30px;
}

.primary-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.secondary-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #1c1c1c;
    border: 1px solid #ddd;
    font-size: 16px;
    cursor: pointer;
}
.sitter-review {
    position: relative;
    width: 660px; /* 200 * 3 + 20*2 margin */
    overflow: hidden;
    margin: 0 auto;
  }

  .slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .sitter-review-img {
    flex: 0 0 200px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .sitter-small-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ccc;
  }

  .slider__btn a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #eee;
    text-decoration: none;
    color: black;
    font-weight: bold;
    z-index: 1;
  }

  .slider__btn a:hover {
    border-radius: 50%;
    background-color: #333;
    color: #fff;
  }

  .slider__btn .prev {
    left: -60px;
  }

  .slider__btn .next {
    right: -60px;
  }
    /*  */
   