<div class="header" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="logo">
        <span><a th:href="@{/}">LOGO</a></span>
    </div>
    <div class="menu">
        <ul>
            <li class="menu-service list">
                <a href="#">Service</a>
                <ul class="sub-menu">
                    <li class="sub-item"><a th:href="@{/reserve}">Day Care</a></li>
                    <li class="sub-item"><a th:href="@{/reserve}">Hotelling</a></li>
                    <li class="sub-item"><a th:href="@{/reserve}">work with pet</a></li>
                </ul>
            </li>
            <li class="menu-place list"><a href="#">place</a></li>
            <li class="menu-board list"><a th:href="@{/board}">board</a></li>
        </ul>
    </div>
    <div class="sign">
        <div class="unsigned-box" sec:authorize="isAnonymous()">
            <div class="username-box">
            </div>
            <div class="btn-box">
                <button class="sign-in btn">
                    <a th:href="@{/login}">로그인</a>
                </button>
                <button class="sign-up btn">
                    <a th:href="@{/signup}">회원가입</a>
                </button>
            </div>
        </div>
        <div class="signed-box" sec:authorize="isAuthenticated()">
            <div class="username-box">
                <span th:text="${#authentication.principal.name}"></span>
                <span>님 안녕하세요!</span>
            </div>
            <div class="btn-box">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="logout btn">로그아웃</button>
                </form>
<!--                <form th:action="@{/delete}" method="post">-->
<!--                    <button type="submit" class="resign btn">회원탈퇴</button>-->
<!--                </form>-->
                <button class="mypage btn">
                    <a th:href="@{/mypage}">마이페이지</a>
                </button>
            </div>
        </div>
    </div>
</div>