<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/temp}"
>

<!-- title -->
<th:block layout:fragment="title">
    board
</th:block>

<!-- css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/board.css">
</th:block>

<!-- js -->
<th:block layout:fragment="script">
    <script src="/js/board.js"></script>
</th:block>


<div class="content" layout:fragment="content">
    <div id="delSuccessMessage" th:if="${delSuccess != null}" th:attr="data-message=${delSuccess}"></div>
    <div class="board-container">
        <div class="board">
            <div class="board-subject">
                <span>게시판 제목</span>
            </div>
            <ul class="board-title b-layout">
                <li class="board-title-num">번호</li>
                <li class="board-title-cont">제목</li>
                <li class="board-title-view">조회수</li>
                <li class="board-title-name">작성자</li>
                <li class="board-title-date">날짜</li>
            </ul>
            <div class="no-content" th:if="${#lists.isEmpty(boardList)}">
                <p>등록된 게시글이 없습니다.</p>
            </div>
            <div class="board-list-wrap">
            <ul class="board-list b-layout" th:each="board, stat : ${boardList}">
                <li class="board-list-num" th:text="${stat.count}">1</li>
                <li class="board-list-cont txt-hidden">
                    <a th:href="@{/board/view/{id}(id=${board.boardId})}" th:text="${board.title}">제목</a>
                </li>
                <li class="board-list-view" th:text="${board.viewCount}">1</li>
                <li class="board-list-name" th:text="${board.user.name}">작성자</li>
                <li class="board-list-date" th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}">날짜</li>
            </ul>
            </div>
        </div>
        <div class="board-bottom">
            <div class="add-list">
                <button class="add btn" id="addBtn" type="submit">글쓰기</button>
                <input type="hidden" id="isLoggedIn" th:value="${isLoggedIn}" />
            </div>
            <div class="paging">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
            </div>
        </div>
    </div>
</div>
</html>