
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/temp}"
>

<!-- title -->
<th:block layout:fragment="title">
    board
</th:block>

<!-- css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/board.css">
</th:block>

<!-- js -->
<th:block layout:fragment="script">
    <script src="/js/board.js" defer></script>
</th:block>

<div class="content" layout:fragment="content">
    <div class="view-content-wrap">
        <div class="vc-top">
            <div class="vc-top-list">
                <span th:text="${board.title}">제목</span>
                <div class="vc-top-list-info">
                    <p th:text="${board.user.name}">작성자</p>
                    <p th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}">날짜</p>
                    <p th:text="${board.viewCount}">1</p>
                </div>
            </div>
        </div>
        <div class="vc-content">
            <p th:text="${board.content}">내용</p>
        </div>
        <div class="vc-btn">
            <a class="back btn" id="backBtn" th:href="@{/board}">뒤로가기</a>
            <form th:action="@{/board/delete/{id}(id=${board.boardId})}" method="post" onsubmit="return confirmDelete()">
                <input type="hidden" id="delSuccessMessage" th:value="${delSuccess}" />
                <button type="submit" class="del btn" id="delBtn">글 삭제</button>
            </form>
        </div>
    </div>
</div>
</html>
