<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link -->
    <script src="/js/link.js" defer></script>
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/sign.css">
</head>

<body>
<div th:replace="layout/temp :: base(
        ~{::title},
        ~{::content} )">
                <!-- 작업 영역 -->
                <th:block th:fragment="content">
                    <div class="content">
                        <div class="login_wrap">
                            <div class="login_form">
                                <span>login</span>
                                <form id="form" method="post" th:action="@{/login}">
                                    <div class="txt_field">
                                        <input name="userEmail" required type="text">
                                        <label>ID (e-mail)</label>
                                    </div>
                                    <div class="txt_field">
                                        <input name="userPw" required type="password">
                                        <label>Password</label>
                                    </div>
                                    <input class="btn" id="loginBtn" type="submit" value="login">
                                    <div class="fg_pw">
                                        <a th:href="@{/findpw}">Forgot your password?</a>
                                    </div>
                                    <div class="signup_link">
                                        Not a member?
                                        <a th:href="@{/join}">Sign Up</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>
</div>
</body>

</html>